#boxHeader{
        -fx-background-image: url("../images/headerRegistration.png");
        -fx-background-color: green;
        -fx-background-repeat: stretch;
        -fx-background-size: cover;
        -fx-background-position: center;
}
