.text-field {
    -fx-background-color: #4ebaaa , white ,  #f7f7f7;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
    -fx-background-radius : 0px;
}

.text-field:focused {
    -fx-background-color: #f7f7f7 , #005b4f , #f7f7f7;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}